container:
  node: "pve"
  template: "local:debian-13-standard_13.1-1_amd64.tar.zst"
  hostname: "new-container"
  ssh_keys: "${ADMIN_SSH_KEY}"
  
  resources:
    memory: 2048
    cores: 4
  
  storage:
    storage: "local-lvm"
    size: "8"
  
  network:
    - name: "eth0"
      bridge: "vmbr0"
      ip: "dhcp"
  
  options:
    unprivileged: true
    onboot: true
    start: true
    protection: false
  
  tags: "debian,testing"
  description: "Base template for LXC container creation"