# This is Git's per-user configuration file.
[user]

[alias]
		a = add
		c = commit
		s = status
  list = "!git config -l | grep alias | cut -c 7-"
  l = log --graph --pretty --oneline
[init]
	defaultBranch = main
